@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    font-family: Ubuntu, sans-serif;
    overflow: hidden;
}